@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  font-family: 'Share Tech Mono', monospace;
}

html, body, #root, #root > div {
  width: 100%;
  height: 100%;
  background-color: #FAF8FF;
  overflow: hidden;
}

.search-ingredient-container {
  margin: 0 0.5rem 0.5rem 0;
  border: 1px solid #C6C3D6;
  border-radius: 0.25rem;
  background-color: #C6C3D6;
}
