.search-ingredient-container {
  margin: 0 0.5rem 0.5rem 0;
  border: 1px solid #C6C3D6;
  border-radius: 0.25rem;
  background-color: #C6C3D6;
}

.search-ingredient-form {

}

.search-ingredient-form-input {
}

.search-ingredient-form-button {
}