
.search-ingredient-form {
  width: 100%;
}

.search-ingredient-form > * {
  height: 1.5rem;
}

.search-ingredient-form-input {
  border: 1px solid gray;
  border-radius: 0.25rem 0 0 0.25rem;
}

.search-ingredient-form-button {
  border: 1px solid gray;
  border-radius: 0 0.25rem 0.25rem 0;
}