@import "../../styles/colors";

.ingredients-result {
  width: 100%;
  height: calc((4rem + 2px) * 6 + 0.25rem * 5);
  border-radius: 0.25rem;
  background-color: $color-1;
}

.ingredient-result-nocontent {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.ingredient-result-nocontent-loading {
  font-size: 1.8rem;
  color: $color-4;
}

.ingredient-result-nocontent-error {
  font-size: 1.8rem;
  color: $color-4;
}