@import "../../styles/colors";

// search form

.search-ingredient-form {
  display: flex;
  width: 100%;
}

.search-ingredient-form-input:focus{
  outline: none;
  box-shadow: 0 0 0.25rem $color-3, 0 0 0.25rem $color-3, 0 0 0.25rem $color-3;
}

.search-ingredient-form-input {
  height: 2rem;
  width: 100%;
  padding: 0 0.5rem 0 0.5rem;
  border: 1px solid $color-3;
  border-radius: 4px 0 0 4px;
}

.search-ingredient-form-button {
  height: calc(2rem + 2px);
  width: 3rem;
  margin: 0 0 0 -1px;
  padding: 0;
  background-color: $color-3;
  border: 1px solid $color-3;
  border-radius: 0 4px 4px 0;
}

.search-ingredient-form-button:focus {
  outline: none;
}

.search-ingredient-form-button-icon {
  font-size: 1.25rem;
  color: $color-1;
}